* {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

a {
    color: #00acac;
}

a:active,
a:hover,
a:focus {
    opacity: 0.85;
    color: #00acac;
}

body {
    margin-top: 2rem;
}

h1 {
    font-size: 36px;
    font-family: 'Josefin Sans', sans-serif !important;
    font-weight: 100;
    width: 600px;
    text-align: left;
}

.container {
    max-width: 540px;
    overflow-x: visible;
}

.logo {
    height: 10rem;
    display: inline;
    margin: 0 2rem 0 0;
}

.btn-light {
    width: auto;
    margin: 0 auto;
    color: #00acac;
}

.btn-light:active,
.btn-light:hover {
    color: #00acac;
}

.row {
    margin-top: 3rem;
}

.col.socials {
    font-size: 2rem;
    margin-bottom: 3rem;
    opacity: 0.5;
}

.col.socials a {
    text-decoration: none;
    color: #333;
    transition: color 0.2s ease-in-out;
    margin: 0 0.5rem;
}

.col.socials a:hover,
.col.socials a:active,
.col.socials a:focus {
    color: #00acac;
}

.embedWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    transition: opacity 0.2s ease-in-out;
}
.embedWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn-notify {
    font-size:70%;
}

#sub-breakout {
    width: 100%;
    background: #00acac;
    color: #fff;
    margin-top: 1rem;
    padding: 2rem 0;
}

#sub-breakout .row {
    margin-top: 0;
}

.ac-footer {
    width: 100%;
    background: #a0a0a0;
    padding-bottom: 5rem;
    padding-top: 5rem;
    margin-top: 4rem;
}

.ac-footer p {
    text-align: left;
}

.ac-footer a{
    color: #000;
}

.logo-fl {
    filter: grayscale(100%);
    float: left;
    display: block;
    height: 7rem;
    margin: -2rem 1rem 0 0;
}

@media only screen and (max-width: 559px) {

    .logo {
        height: 7rem;
        margin-right: 0.1rem;
    }

    h1 {
        font-size: 1.6rem;
        font-weight: 300;
    }

    .row {
        margin-top: 2rem;
    }
}


